<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Short Term Rentals Form</title>
</head>
<body>
  <h1>Short term rentals form...GET</h1>
  <h3>a small change... webhooked?</h3>
  <form action="/submit-get-str-form" method="get">
    <input type="text" name="firstname" value="Name">
    <input type="text" name="lastname" value="Last">
    <input type="submit" name="" value="Submit">
  </form>
</body>
</html>
