<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Short Term Rentals Form</title>
</head>
<body>
  <h1>Short term rentals form...POST</h1>
  <a href="https://sandy.utah.gov/">Home</a>
  <form action="/submit-post-str-form" method="POST">
    <input type="text" name="firstname" value="Name">
    <input type="text" name="lastname" value="Last">
    <input type="submit" name="" value="Submit">
  </form>
</body>
</html>
